<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <%= mail_to "freqnlabs@gmail.com", "Contact me"%>
  for inquiries.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>
</p>
